/* define colors */
.myPink {
    color: #de2f64;
}
.myYellow {
    color: #f8ae35;
}
.myGreen {
    color: #51bc51;
}
.myBlue {
    color: #228d97;
}
.myPurple {
    color: #741359;
}
/* style form-control contents */
main .form-control {
    display: inline-block;
    width: auto;
}
main {
    overflow-x: auto;
    text-align: center;
}
/* size and color for the navbar brand in index.html */
nav .navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: xx-large;
}
/* style card for index.html */
.card {
    width: 65%;
    height: 370px;
    margin: auto;
    padding: 50px 0px;
}
.card-body {
    padding: 2rem;
}
.card-title {
    padding-bottom: 2rem;
}

@media (max-width: 500px) {
    .card {
        width: 80%;
    }
    .index-input {
        width: 100% !important;
    }
}

/* add padding to the footer */
.footnote {
    padding-bottom: 48px;
}

/* style sidebar in channel.html */
.wrapper {
    width: 100%;
    font-family: 'Righteous', cursive;
}
#sidebar {
    background-color: #741359;
}
.sidebar-header {
    font-size: xx-large;
}
#navbar {
    color: rgba(255,255,255,.5);
}
#channel-start {
    display: inline-block;
}
#channel-head {
    display: inline-block;
    border-bottom: 2px solid rgba(255,255,255,.5);
    padding-bottom: 12px;
}

/* make sidebar in large screen
   and horizontal navbar in small screen */
@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 350px auto;
        height: 100vh;
    }
    #sidebar {
        display: block;
        padding-left: 30px;
    }
    #sidebar-header {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    #channel-list {
        display: block;
        height: 75vh;
        width: 90%;
    }
    .list {
        height: 67vh;
        overflow-y: scroll;
    }
}
/* style the new channel button */
.newchannel-btn {
    background-color: #FDC153;
    color: black;
    border: 2px solid #FDC153;
    font-size: 15px;
    margin-left: 10px;
}
.newchannel-btn:hover {
    color: white;
}
.modal-header {
    background-color: #741359;
}
.modal-body .error-message {
    margin-top: 1rem;
}
.nav-link {
    display: inline-block;
}
.message-num {
    display: inline-block;
    background-color: #D65953;
    color: lightgrey;
    border: 2px solid #D65953;
    border-radius: 5px;
    font-size: 11px;
    padding: 0px 5px
}
/* style the sign out button */
.signout-btn, #create-newchannel {
    background-color: #FDC153;
    color: black;
    border: 1px solid #FDC153;
}
/* style the main content in channel.html */
#content {
    text-align: left;
}
/* style messages in channel.html */
#content-middle {
    height: 80%;
    overflow-y: scroll;
}
.message-row {
    flex-wrap: nowrap;
    position: relative;
    left: 15px;
}
.message-left {
    margin-right: 15px;
}
.message-alphabet {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #AB2F59;
    text-align: center;
    font-size: 30px;
    color: white;
}
.message-right {
    width: 80%;
}
.message-timestamp {
    color: #F18B4E;
    font-size: 12px;
    padding-left: .5rem;
}
/* style input for new message in channel.html */
.new-message-row {
    position: relative;
    left: 16px;
}
#new-message {
    width: 80%;
    height: auto;
    margin: 10px;
}
/* style plus button in channel.html */
.plus-button {
    margin: 10px 0px;
    border: 2px solid lightgrey;
}
#plus {
    font-size: 2.5rem;
    color: darkgrey;
}
/* style the color of nav-link which is active*/
.highlight {
    color: #F9F871 !important;
}
/* style the size of input and message text for channel.html */
@media (max-width: 500px) {
    #new-message {
        width: 70%;
    }
    .message-right {
        width: 70%;
    }
}